@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Noto Sans TC', sans-serif;
}

.nav {
  position: fixed;
  top: 0;
  height: 10vmin;
  width: 100%;
  background-color: yellowgreen;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  background-color: black;
  height: 100vh;
  width: 100vw;
  color: white !important;
  overflow: hidden;
  position: relative;
  background-image: url(../images/daniel-chekalov-OxU08SFhPbI-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header .text {
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: 0 0 40px #000;
}

.header .text h1 {
  margin: 0;
  font-size: 5vmin;
}

.header .text h3 {
  margin: 0;
  font-size: 2.5vmin;
}

.story {
  height: 80vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-image: url(../images/donovan-valdivia-aKrZC9Fp9ek-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.story .media {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 13%;
  width: 30%;
  height: 100%;
}

.story .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 18%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  width: 30%;
  padding-top: 2vmin;
}

.story .text .title {
  font-size: 5vmin;
  font-weight: 600;
}

.story .text .sub-info {
  font-size: 2vmin;
  font-weight: 500;
  line-height: 3vmin;
}

.story .text .btn {
  color: white;
  margin: 5vmin 0;
  position: relative;
  text-decoration: none;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.2vmin;
  width: 20vmin;
  height: 6vmin;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s cubic-bezier(0.92, 0.01, 0.07, 0.94);
  transition: 0.5s cubic-bezier(0.92, 0.01, 0.07, 0.94);
}

.story .text .btn::before {
  content: '';
  position: absolute;
  background-color: white;
  left: 100%;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s cubic-bezier(0.92, 0.01, 0.07, 0.94);
  transition: 0.5s cubic-bezier(0.92, 0.01, 0.07, 0.94);
}

.story .text .btn::after {
  position: absolute;
  content: "觀看更多";
  font-size: 1vmin;
  text-align: center;
  opacity: 0;
  width: 100%;
  left: 50%;
  color: black !important;
  -webkit-transition: 0.4s cubic-bezier(0.92, 0.01, 0.07, 0.94);
  transition: 0.4s cubic-bezier(0.92, 0.01, 0.07, 0.94);
}

.story .text .btn:hover {
  color: transparent;
  -webkit-box-shadow: black 0 0 20px;
          box-shadow: black 0 0 20px;
}

.story .text .btn:hover::before {
  left: 0%;
}

.story .text .btn:hover::after {
  font-size: 1.8vmin;
  -webkit-transition: 0.7s cubic-bezier(0.92, 0.01, 0.07, 0.94);
  transition: 0.7s cubic-bezier(0.92, 0.01, 0.07, 0.94);
  opacity: 1;
  left: 0;
}

.story::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, rgba(0, 0, 0, 0)), color-stop(80%, white));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 10%, white 80%);
}

.瀏覽商品 {
  min-height: 900px;
  background-color: black;
  color: rgba(255, 255, 255, 0.8);
  padding: 10vh 4vw;
}

.瀏覽商品 .title {
  width: 100%;
  text-align: center;
  font-size: 5.2vmin;
  font-weight: 800;
  letter-spacing: 0.5vmin;
  margin: 2vh 0;
  margin-bottom: 8vh !important;
}

.瀏覽商品 .cell {
  width: 100%;
  height: 100%;
  padding: 0 10vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.瀏覽商品 .cell .items {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6vh 0;
}

.瀏覽商品 .cell .items .item {
  margin: 2vmin 4vmin;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.瀏覽商品 .cell .items .item:hover {
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 20px;
  color: white;
  cursor: pointer;
}

.瀏覽商品 .cell .items .item:hover img {
  -webkit-transform: scale(1.16);
          transform: scale(1.16);
  -webkit-filter: brightness(2);
          filter: brightness(2);
}

.瀏覽商品 .cell .items .item .img {
  overflow: hidden;
}

.瀏覽商品 .cell .items .item .img img {
  width: 100%;
  height: auto;
  -webkit-transition: 0.75s cubic-bezier(0.78, 0.01, 0.03, 0.99);
  transition: 0.75s cubic-bezier(0.78, 0.01, 0.03, 0.99);
}

.瀏覽商品 .cell .items .item h1 {
  margin: 2.5vmin 0;
  -webkit-transition: 0.6s cubic-bezier(0.51, 0.01, 0, 1);
  transition: 0.6s cubic-bezier(0.51, 0.01, 0, 1);
}

.瀏覽商品 .cell .items .item p {
  margin: 0;
  -webkit-transition: 0.6s cubic-bezier(0.51, 0.01, 0, 1);
  transition: 0.6s cubic-bezier(0.51, 0.01, 0, 1);
}
/*# sourceMappingURL=style.css.map */